<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <section name="connectionStrings" type="System.Configuration.ConnectionStringsSection" />
  <connectionStrings>
    <add name="Northwind" connectionString="data source=.\sqlexpress;initial catalog=Northwind;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>